---
import Icon from '../components/Icon.astro';
---

<footer class="opacity-30">
	<div class="group">
		<p>
			Designed & Developed by Xavier Estil·les Beltrán.
		</p>
	</div>
	<p class="socials">
		<a href="https://www.instagram.com/xavi_e.b/"><Icon icon="instagram-logo" size="1.7em"/></a>
		<a href="https://github.com/XavierEstiles"><Icon icon="github-logo" size="1.7em"/></a>
		<a href="https://www.linkedin.com/in/xavier-estil-les-beltr%C3%A1n/"><Icon icon="linkedin-logo" size="1.7em"/></a>
	</p>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-top: auto;
		padding: 3rem 2rem 3rem;
		text-align: center;
		
	}
	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		font-size: 0.875rem;
	}

	.socials {
		display: flex;
		justify-content: center;
		gap: 1rem;
		flex-wrap: wrap;
	}

	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			padding: 2.5rem 5rem;
		}

		.group {
			flex-direction: row;
			gap: 1rem;
			flex-wrap: wrap;
		}

		.socials {
			justify-content: flex-end;
		}
	}
</style>
