<div class="pill"><slot /></div>

<style>
	.pill {
		display: flex;
		margin-right: 15px;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		border: 1px solid #7611a6;
		background-color: #7611a6;
		border-radius: 999rem;
		font-size: 1.125rem;;
		line-height: 1.35;
		white-space: nowrap;
	}
</style>
